body {
    background-color: green;
}
.tablewrap {
    position: relative;
}
.table {
    display: table;
    width: 70%;
}
.heading > div:first-child {
  border-top-left-radius: 10px;
}
.heading > div:last-child {
  border-top-right-radius: 10px;
}
.rows:last-child > div:last-child {
    border-bottom-right-radius: 10px;
}
.rows:last-child > div:first-child {
    border-bottom-left-radius: 10px;
}
.rows:nth-child(odd) {
    background-color: lightgray;
}
.rows {
    display: table-row;
    width: 10%;
    background-color: white;
}
.column {
    display: table-cell;
    border: 1px solid black;
    width: 10%;
    padding-bottom: 10px;
}
.heading {
    display: table-header-group;
    background-color: #ffd800;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
}
.column.rowspanner {
    position: absolute;
    top: 0;
    width: 33.5%;
    border: 1px solid black;
    background-color: #ffd800;
 }
 /*Countries flags*/
.rows > .column.country .flag {
        width: 24px;
        height: 18px;
        display: inline-block;
        margin: 10px 5px -5px 5px;
    }
.rows:nth-of-type(2) > .column.country .flag {
    background: url("http://flagpedia.net/data/flags/normal/br.png") no-repeat;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}
     .rows:nth-of-type(3) > .column.country .flag {
        background: url("http://flagpedia.net/data/flags/normal/es.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .rows:nth-of-type(4) > .column.country .flag {
        background: url("http://flagpedia.net/data/flags/normal/it.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .rows:nth-of-type(5) > .column.country .flag {
        background: url("http://flagpedia.net/data/flags/normal/ar.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
     .rows:nth-of-type(6) > .column.country .flag {
        background: url("http://flagpedia.net/data/flags/normal/de.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    /*----------------------------------------------------------------------------*/
.rows > .column.country2 .flag {
    width: 24px;
    height: 18px;
    display: inline-block;
    margin: 10px 5px -5px 5px;
}
    .rows:nth-of-type(2) > .column.country2 .flag {
        background: url("http://flagpedia.net/data/flags/normal/mx.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .rows:nth-of-type(3) > .column.country2 .flag {
        background: url("http://flagpedia.net/data/flags/normal/nl.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .rows:nth-of-type(4) > .column.country2 .flag {
        background: url("http://flagpedia.net/data/flags/normal/gb.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .rows:nth-of-type(5) > .column.country2 .flag {
        background: url("http://flagpedia.net/data/flags/normal/ba.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .rows:nth-of-type(6) > .column.country2 .flag {
        background: url("http://flagpedia.net/data/flags/normal/pt.png") no-repeat;
        -moz-background-size: 100%;
        -o-background-size: 100%;
        -webkit-background-size: 100%;
        background-size: 100%;
    }
    .column.score1 select:disabled {
        color: red;
        background-color: lightgray;
    }
    .column.score1 select {
        margin-top: 10px;
        color: green;
        width: 35px;
        height: 30px;
    }
 .column.country {
    text-align: right;
    width: 15%;
}   
 .column.result {
    text-align: center;
    width: 10%;
 }
 .column.country2 {
     text-align: left;
     width: 15%;
 }
 .column.group {
 text-align: center;
 text-transform: uppercase;
 }
 .column.countryName {
    text-align: right;
    width: 15%;
 }
 .column.score1 {
    text-align: center;
    width: 10%;    
 }
 .column.countryName2 {
    width: 15%;
 }
 .column.bet {
 text-align: center;
 width: 5%;
 }
  .column.bet a {
      font-size: 0.8em;
      text-decoration: none;
  }
 svg {
     margin-top: 5px;
     margin-bottom: -10px;
 }
